@media (max-width:767px){
	#alert-info{
		visibility: hidden;
	}
}

.navbar-brand{
	border-right: 3px solid #ff0000;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}

#nav{
  border-bottom: 2px solid #ff0000;
}

body{
    padding-top: 40px;
}