.navbar-brand{
	border-right: 3px solid #ff0000;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
}

.page-header img {
    width: 15%;
}

.img-responsive{
    margin: 0 auto;
}

.row-padding{
    padding: 40px 0;
}

#nav{
  border-bottom: 2px solid #ff0000;
}

body{
    padding-top: 40px;
}

@media (max-width:767px){
	#alert-info{
		visibility: hidden;
	}
	
        .page-header img{
	  width: 25%;
	}
}
