/* April Fatface */

@font-face {
    font-family: "Abril Fatface";
    src: url("../../assets/fonts/Abril-Fatface/AbrilFatface-Regular.ttf");
    font-weight: 400;
    font-display: fallback;
}

/* Merriweather */

@font-face {
    font-family: "Merriweather";
    src: url("../../assets/fonts/Merriweather/Merriweather-Regular.ttf");
    font-weight: 400;
    font-display: fallback;
}
@font-face {
    font-family: "Merriweather";
    src: url("../../assets/fonts/Merriweather/Merriweather-Italic.ttf");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: "Merriweather";
    src: url("../../assets/fonts/Merriweather/Merriweather-Bold.ttf");
    font-weight: 700;
    font-display: fallback;
}