/* ------ Single Manufacturer Page ------ */

body#single-manufacturer main > article > header dl dd { padding: 0.5em 0; }
body#single-manufacturer main > article > header dl img { max-height: 200px; max-width: 400px; }
body#single-manufacturer main > article > header dl figure { margin: 0; }
body#single-manufacturer main > article > section { columns: 2; }
body#single-manufacturer main > article figure { 
    break-inside: avoid;
    width: fit-content;
    margin: auto;
}

/* ------ Multiple Manufacturers Page ------ */

body#manufacturers main > section {
    display: flex;
    flex-direction: column;
    gap: var(--body-spacing);
}

body#manufacturers article.manufacturer {
    display: grid;
    grid-template-areas: "logo title title title" "logo desc desc desc";
    gap: 0 var(--body-spacing);
}

body#manufacturers article.manufacturer .mfg-title { grid-area: title; }
body#manufacturers article.manufacturer .mfg-logo { grid-area: logo; width: 200px; align-self: center; }
body#manufacturers article.manufacturer .mfg-description { grid-area: desc; align-self: center; }

/* ------ Table ------ */

@media only screen and (max-width: 800px) {
    body#single-manufacturer main > article > section { columns: 1; }
}

/* ------ Mobile ------ */

@media only screen and (max-width: 600px) {
    body#manufacturers article.manufacturer {
        display: flex;
        flex-direction: column;
    }
    body#manufacturers article.manufacturer .mfg-title {
        display: none;
    }
    body#manufacturers article.manufacturer .mfg-description {
        text-align: center;
    }
}