/* ------ Single Manufacturer Page ------ */

body#single-manufacturer main > article > header dl img {max-height: 200px;}
body#single-manufacturer main > article > header dl figure {margin: 0;}
body#single-manufacturer main > article > header dl dd { padding: 0.5em; }
body#single-manufacturer main > article > section { columns: 2; }
body#single-manufacturer main > article figure { break-inside: avoid; }

/* ------ Multiple Manufacturers Page ------ */

body#manufacturers article.manufacturer {
    display: grid;
    grid-template-areas: "title title title title" "logo desc desc desc";
    gap: 0 2em;
}

body#manufacturers article.manufacturer .mfg-title { grid-area: title; }
body#manufacturers article.manufacturer .mfg-logo { grid-area: logo; min-width: 200px; }
body#manufacturers article.manufacturer .mfg-description { grid-area: desc; }