/* ------ Defaults ------ */

:root {
	--body-spacing: 3rem;
	--content-width: 640px;
	--content-width-wide: 1024px;
}

nav {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

/* ------ Header ------ */

header {
	margin-bottom: var(--body-spacing);
}

header nav {
	margin: 1.5rem;
}

nav div {
	display: flex;
	gap: 2rem;
	justify-content: center;
}

nav div#menu-left {
	justify-content: right;
}

nav div#menu-right {
	justify-content: left;
}

/* ------ Main Content ------ */

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-x: hidden;
	max-width: 100%;
	align-items: center;
}

main {
	flex: 1 0 auto;
	max-width: var(--content-width);
}

main.wide { max-width: var(--content-width-wide); }

main > header,
main > article,
main > section {
	padding: 0 1rem;
}

figure video {
	width: 100%;
}

body#page-contact form {
    display: flex;
    flex-flow: column nowrap;
}

body#page-contact form label {
    margin-top: 1rem;
}

body#page-contact form input[type=submit] {
    margin-top: 1rem;
}

body#page-museums main > section {
    display: flex;
    gap: var(--body-spacing);
    justify-content: space-between;
}

body#page-museums #upcoming-events { width: 33.33%;}

/* ------ Footer ------ */

footer {
	margin-top: var(--body-spacing);
	width: 100%;
}

footer nav {
	margin: unset;
}

footer>div:not(.italy-flag) {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 1rem;
	max-width: var(--content-width-wide);
	margin: auto;
}

footer>div:not(.italy-flag)>p {
	margin: 0;
}

/* ------ Tablet ------ */
@media only screen and (max-width: 800px) {

	body {
		font-size: 14px;
	}

	/* ------ Header ------ */
	header {
		margin-bottom: 1rem;
	}

	header nav {
		display: grid;
		grid-template-areas:
			"title title"
			"menu1 menu2";
		gap: 0.875rem 2rem;
	}

	nav div {
		grid-area: title;
	}

	nav div#menu-left {
		grid-area: menu1;
	}

	nav div#menu-right {
		grid-area: menu2;
	}

	/* ------ Main Content ------ */

	main h1,
	main h2,
	main h3,
	main h4 {
		margin-top: 0.5rem;
	}

	/* ------ Footer ------- */

	footer>div:not(.italy-flag) {
		flex-direction: column;
		align-content: center;
		text-align: center;
	}

	footer>div:not(.italy-flag)>p {
		margin: revert;
	}
}