:root {
    --italy-white: #F4F5F0;
    --italy-green: #008C45;
    --italy-red: #CD212A;
}

/* ------ Default Styles ------ */

body {
	color: black;
	font-family: Roboto, Helvetica, sans-serif;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.325rem; }
h5 { font-size: 1.125rem; }
h6 { font-size: 1rem; }

img { max-width: 100%; }

.italy-flag {
    display: flex;
	align-self: center;
    background-color: var(--italy-white);
    height: 100%;
    width: 33.33%;
}
.italy-flag::before {
    background-color: var(--italy-green);
    content: "";
    height: 100%;
    width: 33.33%;
    position: absolute;
    left: 0;
    display: block;
}
.italy-flag::after {
    background-color: var(--italy-red);
    content: "";
    height: 100%;
    width: 33.33%;
    position: absolute;
    right: 0;
    display: block;
}

/* ------ Header ------ */

nav #site-title {
	font-size: 36px;
}

nav a { color: inherit; text-decoration: none; }
nav a:hover { text-decoration: underline; }

/* ------ Main Content ------- */

main > article > header {
    display: flex;
    flex-direction: column;
}

main > article > header > img { max-height: 200px; }

main > article section {
    columns: 2;
}

main > article figure {
    break-inside: avoid;
}

/* ------ Footer ------ */

footer {
    font-size: 0.75rem;
    background-color: white;
}

footer .italy-flag,
footer .italy-flag::before,
footer .italy-flag::after { height: 5px; }