:root {
    --italy-white: #F4F5F0;
    --italy-green: #008C45;
    --italy-red: #CD212A;
}

/* ------ Default Styles ------ */

body {
	color: black;
	font-family: Roboto, Helvetica, sans-serif;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.25em; }
h4 { font-size: 1.325em; }
h5 { font-size: 1.125em; }
h6 { font-size: 1em; }

img { max-width: 100%; }

.italy-flag {
    display: flex;
	align-self: center;
    background-color: var(--italy-white);
    height: 100%;
    width: 33.33%;
}
.italy-flag::before {
    background-color: var(--italy-green);
    content: "";
    height: 100%;
    width: 33.33%;
    position: absolute;
    left: 0;
    display: block;
}
.italy-flag::after {
    background-color: var(--italy-red);
    content: "";
    height: 100%;
    width: 33.33%;
    position: absolute;
    right: 0;
    display: block;
}

/* ------ Header ------ */

header .italy-flag,
header .italy-flag::before,
header .italy-flag::after {
	height: 10px;
}

nav #site-title {
	font-size: 36px;
}

nav a { color: inherit; text-decoration: none; }
nav a:hover { text-decoration: underline; }

/* ------ Main Content ------- */

main > article > header > img {
    max-height: 200px;
    display: block;
    margin: auto;
}

main > article section.manufacturer {
    columns: 2;
}

main > article figure {
    break-inside: avoid;
}

dt { font-weight: bold; }

#upcoming-events {
    grid-area: evt;
    border-left: 2px solid var(--italy-red, black);
    padding-left: 1rem;
    height: fit-content;
}

#upcoming-events ul {
    list-style: none;
    padding: unset;
}

#upcoming-events h4 {
    font-size: 1rem;
}

#upcoming-events ul li section {
    padding: unset;
    font-size: 0.875rem;
}

#upcoming-events div {
    position: relative;
    animation: events-slide-in 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* ------ Footer ------ */

footer {
    font-size: 0.75rem;
    background-color: white;
}

footer .italy-flag,
footer .italy-flag::before,
footer .italy-flag::after { height: 5px; }