:root {
    counter-set: day;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table > caption {
    font-size: 1.5em;
    margin-bottom: 1em;
}
thead {
    border: 1px solid;
}
td {
    min-width: calc(100% / 7);
    min-height: 4em;
    height: 4em;
    border: 1px solid;
    position: relative;
    padding: 2em 0.5em 0.5em 0.5em;
}
td:not([data-day]) {
    background-color: lightgrey;
    background-clip: padding-box;
}

td[data-day]::before {
    content: attr(data-day);
    position: absolute;
    top: 0.5em;
    left: 0.5em;
}
td ul {
    padding: 0;
    list-style: none;
}

@media only screen and (max-width: 600px) {
    thead { display: none;}
    td:not([data-day]) { display: none;}
    tr {
        display: block;
    }
    tr:nth-child(2n) {
        background-color: lightgrey;
    }
    td {
        display: list-item;
        background-color: unset;
        list-style: none;
    }
    td[data-day]::before { content: attr(data-dow); }
    td[data-day]::after {
        content: attr(data-day);
        position: absolute;
        top: 0.5em;
        right: 0.5em;
    }
    td ul {
        padding-left: 2em;
        list-style: disc;
    }
}